/* src/components/Loader.css */
.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

.loader-wrapper p{
    color: white;
}
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-top: 5px solid #3b4cca; /* Pokémon blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  