
.pokemon-detail {
    max-width: 960px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    transition: transform 0.3s ease;
  }

  .pokemon-detail h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: rgb(68, 69, 71);
  }
  
  .pokemon-detail img {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid #ddd;
    background-color: #fafafa;
  }
  .pokemon-detail img:hover{
    border: 3px solid rgb(40, 117, 224);
    width: 180px;
    height: 180px;
    transition: all 1s ease;
  }
  
  .pokemon-detail h2 {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: #34495e;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
  }
  
  .pokemon-detail ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .pokemon-detail li {
    background-color: #ecf0f1;
    color: #2c3e50;
    border-radius: 50px;
    border: 1px solid rgb(115, 109, 109);
    padding: 6px 14px;
    font-size: 0.95rem;
    text-transform: capitalize;
  }
  
  .pokemon-detail li:hover {
    border: 1.45px solid #65a7d4;
  }

  .back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 18px;
    background-color: #e67e22;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #d35400;
  }
  
  .evolution-chain {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
    color: 2c3e50;
    text-align: center;
    text-transform: capitalize;
  }
  
 
  .evolution-chain .arrow {
    font-size: 1.2rem;
    color: #b2bec3;
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .pokemon-detail {
      padding: 20px;
    }
  
    .pokemon-detail h1 {
      font-size: 2rem;
    }
  
    .pokemon-detail img {
      width: 140px;
      height: 140px;
    }
  
    .pokemon-detail ul {
      flex-direction: column;
      align-items: center;
    }
  
    .pokemon-detail li {
      font-size: 0.9rem;
    }
  }
  